
doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='./fonts/roboto.scss', rel='stylesheet')
        link(rel='stylesheet', href='./css/all.css')
    body

        include exemples/buttons/button
        include exemples/cards/card

