.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  border: none;
  outline: none;
@include with-ripple($initial-color, $final-color);
}
.button_color{
  color:blue;
}



