@import "../mixins";

.mixin-demo {
  div {
    width: 50px;
    height: 50px;
    background-color: white;
    display: block;
    margin: 30px;
  }
}

.div1 {
  @include box-shadows(1);
}
.div2 {
  @include box-shadows(2);
}
.div3 {
  @include box-shadows(3);
}
.div4 {
  @include box-shadows(4);
}
.div5 {
  @include box-shadows(5);
}
