@import "../scss/_mixins";
$initial-color: rgb(240, 240, 240);
$final-color:rgb(224, 224, 224);

.button{
  color:black;
  font-size: 16px;
  padding: 8px 13px;
  border: none;
  outline: none;
  line-height: 1;
  background: white;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  @include with-ripple($initial-color, $final-color);
  @include common-styles();
}
.button_color{
  color: #00BCD4;
}
.button_pad{
  margin: 6px 15px;

}
.button_direction{
  margin-left: auto;
}
.button_narrow{
  padding-right: 0px;
  padding-left: 0px;

}

