doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Ksu
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(rel='stylesheet', href='css/main.css')
    body
        include components/_button
        include components/_box-shadows
        include components/_card