.card
    p.card__content Cards are a convenient means of displaying content composed of different types of objects.
    .card__content Hurray!

.card
    h2.card__header Card headline title
    p.card__content Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
    .card__footer
        button.button.button_pad MORE INFO…
        .button_direction
        button.button.button_pad.button_narrow DECLINE
        button.button.button_color.button_pad.button_narrow ACCEPT

.card
    .card__header.card__header-img
        h2 Card headline title
    p.card__content Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
    .card__footer
        button.button.button_pad MORE INFO…
        .button_direction
        button.button.button_pad.button_narrow DECLINE
        button.button.button_color.button_pad.button_narrow ACCEPT