*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{

    height: 891px;
    width: 100%;
    background: url("photo/lllll.png") no-repeat;
    background-size: cover;
}
.flex_header{
    display: flex;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    padding-top: 51px;
    padding-right: 69px;
    flex-basis: 50%;
   flex-wrap: wrap;
    height: 10px;
}
.navbar a{
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 30px;

}
.navbar a:hover{
    text-decoration: none;
    color: red;
}
.navbar a:nth-last-child(1){
margin-right: 0px;
}
.logo{
    display: flex;
    padding-top:39px ;
    padding-left: 52px;
    flex-direction: row;
    align-items: end;

}

.text_logo{
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;

}
.drop_img{
    margin-right: 10px ;
}
.line_logo{
    background-color:  #a2ca28;
    width: 38px;
    height: 3px;


}
.column_logo{
    display: flex;
    flex-direction: column;
}
.header_content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.content{

    margin-left: 117px;
    margin-top: 625px;


}
.big_text{
    color:  #ffffff;
    font-size: 39.97px;
    line-height: 1.5px;


}
.green_slash{
    color:  #a2ca28;
    font-size: 39.97px;
    line-height: 69.938px;
    text-align: left;
    transform: scaleY(1.0005);
}
.little_text{
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5px;
    text-align: left;


}
.red_slash{
    font-family: OpenSans;
    color:  #fd634e;
    font-size: 15px;
    font-weight: 700;
    line-height: 69.938px;
    text-align: left;
    transform: scaleY(1.0005);
}
.pink_line{
    background-image: url("photo/pink_line.svg");
}
.green_box{
    background-image: url("photo/green_box.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    display: flex;
    padding-top: 111px;
    }
.features_container{
    margin-right: 39px;
}
.features_container_4{
    margin-right: 0px;
}
.features_header{
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    transform: scaleY(1.002);
    margin-bottom: 32px;
}
.features_content{
    font-family: ProximaNova;
    color:  #ffffff;
    font-size: 13.99px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    transform: scaleX(1.0007);
}
.features_img{
    margin-bottom: 23px;
}
.features_link{
    font-family: ProximaNova;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    align-items: baseline;
}
.





























































































































{
    margin-top: 27px;
}
.features_link_2{
    margin-top: 51px;
}