*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid_content{
    display: grid;
    grid-template-colomns: 100px auto 35%;
    grid-template-rows: 100px 300px 150px;
    grid-template-areas:
            "logo menu menu"
            "feed list nav"
            "footer footer  nav";
}
.item_1{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: logo;
    background-color: yellow;
}
.item_2{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: menu;
    background-color: red;
}
.item_3{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: feed;
    background-color: purple;
}
.item_4{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: list;
    background-color: yellow;
}
.item_5{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: nav;
    background-color: blue;
}
.item_6{
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: footer;
    background-color: yellow;
}

